body{
    background-color: black;
    color: white;
    text-align: centerx;
}

#conta{
    padding: 300px;
    padding-left: 350px;
}

.cont2{  
        display: flex;
        margin-top: 150px;
        margin-bottom: 20px;
} 
button{
    text-align: center;
    border-radius: 11px;
    width: 100px;
    font-size: large;
    margin-left: 650px;
    border-color: rgb(121, 121, 121);
    background-color: blanchedalmond;
}

.op1 {
    text-align: center;
    padding: 50px;
    margin-left: 350px;
}
.op2 {
    text-align: center;
    padding: 50px;
    margin-left: 20px;
}
.op3 {
    text-align: center;
    padding: 50px;
    margin-left: 20px;
}
#saida{
    text-align: center;
    margin-left: 50px;
    padding-top: 40px;
    border-radius: 11px;
}

#botao{
    text-align: center;
    padding: 5x;
    margin-left: 10px;
}



